* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	box-sizing: border-box; 
}	

/* Header */

.header-logo {
	margin-top: 1em;
}

.header-inner {
	max-width: 60px;
}

.header-outer {
	margin-right: 10px;
	text-transform: uppercase;
	text-align: right;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	margin: 0;
}

h2 {
	margin: 0;
	font-weight: 500;
	font-size: 1.1em;
}

hr {
	height: 3px;
	background-color: #7d97ad;
	border:	none;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Main */

.markup {
	height: auto;
	max-width: 850px;
}

.featured-work {
	max-width: 850px;
	height: 100%;
}

/* Footer */

ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	max-width: 850px;
	display: flex;
	float: left;
	width: calc((100% - 20px)/3);
}

li {
	text-align: center;
	margin: 0;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: #7d97ad;
	font-size: 2em;
	margin-bottom: 10px;
	margin-left: 15px;
}

h4 {
	color: #2d3c49;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	margin-top: 5px;
}

.name-one, .name-two, .name-three {
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2em;
	margin: 0;
}

.name-one, .name-two, .url-one, .url-two {
	padding-right: 26px;
}

.picture-one, .picture-two, .picture-three {
	height: auto;
	float: left;
	margin-right: 26px;
	padding-bottom: 10px;
}

.picture-three {
	margin-right: 0;
}

/* Framework */

.container {
	max-width: 850px;
	justify-content: center;
	margin: 0 auto;
}

.row {
	width: 100%; 
	display: flex;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/* Responsive Design */

@media