* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	box-sizing: border-box; 
}	

body {
	max-width: 850px;
	margin: 0 auto;
}

/* Header */

.header-logo {
	margin-top: 1em;
}

.header-inner {
	max-width: 60px;
}

.header-outer {
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	margin: 0;
}

h2 {
	margin: 0;
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 1.1em;
}

hr {
	height: 3px;
	background-color: #7d97ad;
	border:	none;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Main */

.featured-work {
	max-width: 850px;
	height: 100%;
}

/* Footer */

ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	max-width: 850px;
	display: flex;
}

li {
	text-align: center;
	margin: 0;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: #7d97ad;
	font-size: 2em;
	margin-bottom: 10px;
}

h4 {
	color: #2d3c49;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	margin-top: 5px;
}

.name-one, .name-two, .name-three {
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2em;
	margin: 0;
}

.name-one, .name-two, .name-three, .url-one, .url-two, .url-three {
	padding-right: 26px;
}

.picture-one, .picture-two, .picture-three {
	max-height: 200px;
	float: left;
	padding-bottom: 10px;
	max-width: 266px;
}

/* Responsive Design */

	/* Mobile View */

@media only screen and (max-width: 500px) {
	
	body {
		max-width: 500px;
		justify-content: center;
		margin: 0 auto;
	}
	
	.header-inner {
		position: absolute;
		left: -9999px;
	}
	
	.header-outer {
		justify-content: center;
		text-align: center;
		width: 100%;
	}
	
	.spider {
		max-width: 300px;
		display: block;
		margin: 0 auto;
	}
	
	ul {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	footer {
		text-align: center;
	}
	
	h3 {
		text-align: center;
	}
	
	.name-three {
		padding-right: 26px;
	}
	
}

	/* Landscape/Tablet Views */

@media only screen and (min-width: 501px) {
	
	
	body {
		max-width: 850px;
	}
	
	.col-12 {
		display: flex;
	}
	
	.header-inner {
		position: static;
		width: 50%;
		margin-right: 0;
	}
	
	.header-outer {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		min-width: 337px;
		float: right;
		margin-right: 10px;
		text-align: right;
	}
	
	.main-picture {
		margin: 0 auto;
	}
	
	h3 {
		margin-left: 15px;
	}
	
	.spider {
		max-width: 850px;
	}
	
	.picture-one, .picture-two, .picture-three {
		margin-right: 26px;
	}
	
	ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	
}
	
	/* Long Laptop and Desktop */
	
@media only screen and (min-width: 850px) {
	
	ul {
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: nowrap;
	}
	
	
}
	


/* Framework */

.header-row {
	width: 100%; 
}

.col-12h {
	width: 100%;
	position: relative;
}

.row {
	width: 100%;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}